.navbar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 32px 72px 16px 72px;
    border-bottom: 1px solid #ffffff17;
}

.logo {
    font-size: 36px;
    font-weight: 700;
}

.purple {
    color: #D434FE;
}

.newDiv {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 104px;
    width: 60%;
}

.linksContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* width: 45%; */
    width: 100%;
}


.links {
    font-size: 16px;
}

#special {
    background-image: linear-gradient(to right, #903AFF, #FF26B9);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    background-color: #fcb045;
    cursor: pointer;
}


@media screen and (max-width: 700px){
    .linksContainer{
        flex-direction: column;
        gap: 12px;
    }

    .newDiv{
        top: -1000px;
        z-index: 100000;
        transition: .5s ease all;
    }

    #navStyle{
        flex-direction: column;
        background: #150E28;
        padding: 12px 0;
        position: absolute;
        left: 25%;
    }

     .newDivActive{
        z-index: 100000;
        top: 100px;
        transition: .5s ease all;
     }

    .navbar{
        padding: 32px 16px 16px 16px;
        border-bottom: 1px solid #ffffff17;
        position: relative;
    }

    .actionBtns{
        display: block;
    }
}

.actionBtns{
    display: none;
}